.card {
    display: inline-block;
    max-width: 400px;

    padding: 5px;
}

.card-title {
    min-height: 75px;

}

.card-text {
    min-height: 150px;
}

.card-img-top {
    height:100px;
    width:100px;
}